.data-display__container {
    width: 100vw;
}

.data-display__content-container {
    margin: 60px 16px;
}

.data-display__main-layout {
    min-height: 100vh !important;
}

.data-display__content-card {
    padding: 24px !important;
    background-color: white !important;
}

.data-display__functionality-container {
    display: flex;
    margin-bottom: 25px;
    margin-top: 10px;
}

.data-display__search-input {
    width: 250px !important;
    margin-left: 20px !important
}
